

.labelContainer {
  font-size: 16px;
  padding-bottom: 12px;
}

.inputContainer {
  max-width: 390px;
  input {
    padding: 8px;
    border: 1px solid rgb(203, 203, 203);
    color: rgb(153, 153, 153);
    border-radius: 3px;
    width: 100%;
    font-size: 16px;
  }
}

.descriptionContainer {
  font-size: 13px;
  padding: 8px 0 24px 0;
}

